

{% extends 'base.html.twig' %}

{% block body %}
  
    <style>

body
{
    background-image:url('img/img/r.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    
}
.form4{
    margin-top:220px;
    margin-bottom:100px;
    margin-left:40%;
    margin-right:20%;
    width:450px;
    background:rgba(0, 108, 255, 0.5);
    padding:10px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px; 
}
.form4 label{
    width:150px;
    color:white;
    font-size:20px bold;
}
.form4 input{
    background:none;
    border:none;
    outline:none;
    border-bottom: solid 1px white;
    width:250px;
    color:white;
}
hr{
    margin-left:20%;
    margin-right:20%;
    color:white;
}
h2{
    text-align:center;
    color:white;
}
input{
    border:none;
    outline:none;
    border-bottom: solid 1px white;
    color:black;
}
button{
    border:none;
   height:38px;
    font-size:20px;
    margin:10px;
    border-radius:5px;
}
#inscrire{
    color:#007bff;
}

#ok{
    background:#006cff;
     border:none;
   height:38px;
    font-size:20px;
    margin:10px;
    border-radius:5px;
    width:95%;
}

        </style>
        <div class="container container1 row">
        <div class="form4">
        <h2>Connexion</h2>
        <hr>
          {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span> 
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %}
            {{form(form)}}
            <br>
            <center>
            <button id="inscrire" class="btn">Vous etes Médecin?<a href="/register/medecin">S'inscrire </a>
            </button>
            <button id="inscrire" class="btn">Vous etes Patient<a href="/register/patient">S'inscrire </a>
            </button>
            </center>
        </div>
        </div>
{% endblock %}