{% extends 'layoutadmin.html.twig' %}

{% block content %}
<h1>Ordonnance</h1>
<div style="display:flex;justify-content:center;"><img src="data:image/png;base64,{{file}}" alt="" width="800px" height="400px">
</diV>
{% endblock %}