{% extends 'base.html.twig' %}
{% block body %}


<div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab" style="padding-top:190px;margin-bottom:30px;">
                                <div class="medilife-tab-text col-lg-6 d-md-flex align-items-center">
                                {% for structure in structures %}
                                    
                                                                       <div class="medilife-tab-text row" style="padding:20px;border:1px solid gray;margin-right:10px;">
                      {{structure.libelle}}          
</div>{% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
Le Cabinet Médical Lecocq est composé des Docteurs :

- Eric PENICHOU
- Maryline DESCHOUWER-FAURET

Pour prendre rdv avec les Docteurs Eric PENICHOU ou Maryline DESCHOUWER-FAURET, vous pouvez vous référer aux actes et disponibilités ci dessous.

En cas d'urgence grave, contactez directement le centre 15.





{% endblock %}