{% extends 'base.html.twig' %}
{% block body %}

    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/img/c.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">La Livraison des Medicamments<br>Rapide et Sûre jusqu'a votre domicile</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Hello Docteur le service qui facilite la vie des malades et vous fait gagner du temps.</h6>
                                <a href="/livraison" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Vous faire livrer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/img/r.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Hospitalisation a domicile
                                    <br>A Hello Docteur faites vous suivres a domicile au pres de la famille</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Hello Docteur le service Qui facilite la vie des malades.</h6>
                                <a href="/had" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Demander une HAD</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/img/sen.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Prenez Rendez-Vous chez un medecin
                                    <br>Avec Hello docteur c'est Vous qui choissisez votre Medecin</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Hello Docteur le service Qui facilite la vie des malades.</h6>
                                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Prendre un Rendez-vous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/img/sen.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Prenez Rendez-Vous chez un medecin
                                    <br>Avec Hello docteur c'est Vous qui choissisez votre Medecin</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Hello Docteur le service Qui facilite la vie des malades.</h6>
                                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Prendre un Rendez-vous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Book An Appoinment Area Start ***** -->
    <div class="medilife-book-an-appoinment-area" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="appointment-form-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="medilife-appointment-form">
                                    <form method="post" action="/search">
                                        <div class="row align-items-end">
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <select class="form-control" id="speciality" name="specialite">
                                                        <option value="">Specialités</option>
                                                        {% for specialite in specialites %}
                                                            <option value="{{specialite.id}}">{{specialite.libelle}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control" id="doctors" name="lieu">
                                                        <option value="">Lieu</option>
                                                        {% for region in regions %}
                                                            <option value="{{region.id}}">{{region.libelle}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3">
                                                <div class="form-group">
                                                    <input type="submit" name="Rechercher" style="margin-top:-40px;" class="btn medilife-btn" value="Rechercher">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="medilife-contact-info">
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info mb-30">
                                        <h3 style="color:white;text-align:center;">Prenez un rendez-vous en ligne chez HelloDocteur</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Book An Appoinment Area End ***** -->

    <section class="medilife-benefits-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Nos Services</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
           <i class="icon-calendar-3"></i>
                         <h5><a href="/search">Prise De Rendez-Vous</a></h5>
                         </div>
                <p>Prenez rendez-vous chez votre medecin ou chez le medecin le plus proche de vous sans vous deplacer et gagner du temps.</p>
           </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-bed"></i>
                       <h5><a href="/had">H A D(Hospitalisation à Domicile)</a></h5>
                       </div>
                 <p>Beneficiez de l'hospitalisation a Domicile et faites vous suivre par un professionels au senegal.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-thumb">
                        <img src="img/bg-img/benefits.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                                    <i class="icon-medical-history"></i>
                            <h5><a href="/livraison">Livraison De Medicament</a></h5>
                            </div>
                                    <p>Plus besoin de faire le tours des pharmacies pour chercher un medicamment,Hello Docteur vous livre vos medicamments jusqu'a chez vous rapide et fiable.</p>
                                </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-helicopter"></i>
                           <h5> <a href="/vsl">V S L(Véhicule Sanitaire Leger)</a></h5>
                            </div>
                                    <p>Avec Hello Docteur finit les soucis d'evacuation sanitaire nous vous vous accompagnons tout au long du processus.</p>
                                </div>
                   
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Cool Facts Area Start ***** -->

    <!-- ***** Cool Facts Area End ***** -->

    <!-- ***** Gallery Area Start ***** -->
    <div class="row">
        <div class="col-12">
            <div class="section-heading">
                <h2>Nos Partenaires</h2>
            </div>
        </div>
    </div>
    <div class="medilife-gallery-area owl-carousel">
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g1.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g1.jpg" class="btn gallery-img">See More +</a>
            </div>
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g2.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g2.jpg" class="btn gallery-img">See More +</a>
            </div>
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g3.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g3.jpg" class="btn gallery-img">See More +</a>
            </div>
        </div>

        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g4.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g4.jpg" class="btn gallery-img">See More +</a>
            </div>
        </div>
    </div>
    <!-- ***** Gallery Area End ***** -->

    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-100" id="propos">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="features-content">
                        <h2>A Propos</h2>
                        <p>
                            Hello Doctor est une startup de conciergerie médicale offrant une large gamme de services: Prise de rendez-vous Livraison de médicament Devis médical VSL (Véhicule Sanitaire léger) HAD (Hopital A Domicile) Dans l’optique d’une amélioration des services dans le secteur de la santé au Sénégal et en Afrique, Hello Doctor met à votre disposition un réseaux de médecins, Cliniques, pharmacies et hôpitaux qui vous facilite vos démarches santé. .</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="features-thumbnail">
                        <img src="img/img/yenni.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

{% endblock %}