


{% extends 'base.html.twig' %}
{% block body %}
<style>
body{
    background:#fff;
}
</style><div class="widget-title" style="padding-top:200px;">
                                <h2 style="text-align:center;">Livraison à Domicile</h2>
                            </div><hr>
                        <div class="footer-widget-area" style="width:90%;margin:auto;padding-bottom:50px;display:flex;">
                            
                            
<div>
<img src="img/img/yenni.jpg" alt="" >
</div>
                            <div class="footer-contact-form" style="width:90%">
                             {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="container alert alert-info" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="container alert alert-warning" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="container alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}
                            <h6 style="color:white;text-align:center;">Veuillez remplir les informations ci-dessous pour faire une demande de livraison .</h6>
                                  <form method="post" enctype="multipart/form-data">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="nom"  placeholder="Nomcomplet">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="adresse"  placeholder="Adresse">
                                    <input type="number" class="form-control border-top-0 border-right-0 border-left-0" name="tel"  placeholder="Telephone">
                                    <input type="file" class="form-control border-top-0 border-right-0 border-left-0" name="ordonnance"  placeholder="Ordonnance">
                                    <input type="submit" class="btn medilife-btn"value="valider" name="ajouter">
                                </form>
                            </div>
                        </div>
                    </div>
{% endblock %}